@charset "UTF-8";

/* 
    Document   : main.css
    Created on : 19/09/2017, 13:08:39
    Author     : Ing. Armando Ibarra
    Description: Main css to acliwerp's web site 
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/****************************
Autor: Ing. Armando Ibarra
e-mail: armandoibarra1@gmail.com
Site web: http://profiles.google.com/armandoibarra1
Css para: v1.0
Licencia: 1306125259866;
https://www.safecreative.org/work/1306125259866-armando_swb
Basado en estandares css 2.1
http://www.w3c.es/Divulgacion/GuiasReferencia/CSS21/
****************************/